<% provide :title, t(".log_in") %>

<h1 class="text-center display-1"><%= t(".log_in") %></h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for :session, url: login_path do |f| %>
      <%= f.label :email %>
      <%= f.email_field :email, class: "form-control" %>

      <%= f.label :password %>
      <%= link_to "(forgot password)", new_password_reset_path %>
      <%= f.password_field :password, class: "form-control" %>

      <%= f.submit t(".log_in"), class: "btn btn-primary" %>
        <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>
        <span><%= t(".remember_me") %></span>
      <% end %>
    <% end %>

    <div class="text-center mt-3">
    <p><%= t(".or") %></p>
    <%= link_to auth_provider_path(provider: "google_oauth2"), method: :post,
                class: "btn btn-danger",
                data: { turbo: false } do %>
      <i class="fab fa-google"></i> <%= t(".login_with_google") %>
    <% end %>
  </div>
    <p>
      <%= t(".new_user?") %>
      <%= link_to t(".sign_up_now!"), signup_path %>
    </p>
  </div>
</div>
