<h1><%= Settings.development.app_name %></h1>

<p><%= t("user_mailer.greeting") %> <%= @user.name %>,</p>

<p>
  <%= t("user_mailer.welcome_message") %>
</p>

<%= link_to t("user_mailer.activate_your_account"), edit_account_activation_url(id: @user.activation_token, email: @user.email) %>
