<tr>
  <td><%= @pagy.offset + idx + 1%></td>
  <td><%= borrow_request.user_name %></td>
  <td><%= borrow_request.request_date.strftime(Settings.date_format.short) %></td>
  <td>
    <%= link_to t(".action_view"), 
                admin_borrow_request_path(borrow_request), 
                class: "btn btn-sm btn-primary" %>
  </td>
  <td>
    <span class="badge <%= status_colors(borrow_request.status) %>">
      <%= borrow_request.status.capitalize %>
    </span>
  </td>
</tr>
