<% content_for :title, t("admin.authors.title") %>

<h3 class="mb-3 fw-bold"><%= t("admin.authors.heading") %></h3>

<div class="d-flex justify-content-between align-items-center mb-3 flex-wrap gap-2">
  <%= link_to t("admin.authors.actions.add"), new_admin_author_path, class: "btn btn-warning fw-bold" %>

  <div class="d-flex">
    <%= search_form_for @q, url: admin_authors_path, method: :get, html: { class: "d-flex" } do |f| %>
      <%= f.search_field :name_cont,
        placeholder: t("admin.authors.placeholders.search"),
        class: "form-control me-2" %>
      <%= f.submit t("admin.authors.actions.search"), class: "btn btn-primary search-btn" %>
    <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-hover table-bordered align-middle text-center">
    <thead class="table-light">
      <tr>
        <th class="text-center"><%= t("admin.authors.attributes.id") %></th>
        <th class="text-center"><%= t("admin.authors.attributes.name") %></th>
        <th class="text-center"><%= t("admin.authors.attributes.created_at") %></th>
        <th class="text-center"><%= t("admin.authors.attributes.action") %></th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "author", collection: @authors,
                 as: :author %>
    </tbody>
  </table>
</div>

<div class="d-flex justify-content-center mt-3">
  <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>
</div>
