<%= turbo_stream.replace dom_id(@user, :status_badge) do %>
  <span id="<%= dom_id(@user, :status_badge) %>" 
        class="badge <%= user_status_color(@user.status) %>">
    <%= @user.status.capitalize %>
  </span>
<% end %>

<%= turbo_stream.replace dom_id(@user, :toggle_button) do %>
  <%= render "toggle_status_form", user: @user %>
<% end %>
